body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    background: url(images/HeaderBackground.jpg) center/cover;
}

.container {
    width: 100%;
    margin: 0 auto; /* Center align container */
    text-align: center;
}

nav {
    padding: 0;
    margin: 0;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #333;
    display: flex;
    justify-content: center; /* Center align items horizontally */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center align items horizontally */
}

nav li {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

nav a:hover {
    background-color: #555;
}

/* Clock Styles */

div#clock {
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
}
div#date, div#time {
    font-size: 1.5em;
    color:hsl(201,66%,89%);
    text-align: center;
    margin: 10px auto;
}

div#wday {
    font-size: 1.5em;
    color:hsl(201,66%,89%);
    text-align: center;
    margin: 10px auto;
    letter-spacing: 0.25em;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 1.25em;

}

.skills {
    color: gray;
    background-image: url("images/plain_white_background.jpeg");
    padding: 3.125em;
    border-radius: 1.5625em;
    text-align: justify;
    line-height: 1.5;
}

header > h1 {
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.title {
    display:inline-block;
    margin-left: 3.125em;
    font-weight: bold;
    padding-bottom: 1em;
    text-decoration: underline;
}

.bullets {
    display:inline-block;
    margin-left: 5em;
}

/* Footer */

footer {
    padding: 0;
    margin: 0;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center; /* Center align items horizontally */
}